bump2version==1.0.1
pytest==6.2.5
pytest-runner==5.3.1
dicomgenerator==0.4.0
pydicom==2.2.2
factory-boy==3.2.1
coverage==6.2
flake8==4.0.1
pip==21.3.1
Sphinx==4.3.2
tox==3.24.4
twine==3.7.1
watchdog==2.1.6
pre-commit==2.15.0
