bump2version==1.0.1
pytest==7.1.2
dicomgenerator==0.4.0
pydicom==2.3.0
factory-boy==3.2.1
coverage==6.4.1
flake8==4.0.1
pip==22.1.2
Sphinx==5.0.2
tox==3.25.1
twine==4.0.1
watchdog==2.1.7
pre-commit==2.18.1
